// Colors
$black: #000000;
$white: #FFFFFF;

.dropdown {
    opacity: 0;
    visibility: hidden;
    transition: 0.15s ease;
}

.active {
    transform: translate(0, 5px);
    opacity: 1;
    visibility: visible;
}